li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

body {
    background-image: url(../img/background.jpg);
}

.jumbotron {
    background-color: red;
    background-image: url(../img/header.jpg);
}

#burger {
    background-color: white;
}

#devoured {
    background-color: white;
}

#add-burger {
    background-color: white;
}